#app {
    height: 100%;
}

html,
body {
    position: relative;
    height: 100%;
}

body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.custom-slider {
    .swiper {
        padding-bottom: 3.5rem;
    }

    .swiper-button-next,
    .swiper-button-prev {
        top: auto;
        bottom: 0;
        background-color: #4FB84F;
        height: 40px;
        width: 40px;
        border-radius: 60%;
        left: 0;
        margin: auto;
        right: 0;

        &::after {
            content: none;
        }
    }

    .swiper-button-next {
        right: -55px;
        background-image: url(../Pages/Icons/chevron-right.svg);
        background-repeat: no-repeat;
        background-size: 25px;
        background-position: center;

    }

    .swiper-button-prev {
        left: -55px;
        background-image: url(../Pages/Icons/chevron-left.svg);
        background-repeat: no-repeat;
        background-size: 25px;
        background-position: center;
    }
}
.custom-form {
    .form-control {
        min-height: 45;
        border-radius: 5px;
    }
}


