.blog-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.032);
  padding: 12px 0;
}

.blog-image-container {
  position: relative;
  margin-top: 0; 
  
}

.blog-image {
  object-fit: cover;
  min-height: 488px;
  width: 100vw;
  @media (max-width:600px) {
    min-height: 400px;
  }
}

.blog-text {
  position: absolute;
  inset: 0;
  color: white; 
  display: flex;
  justify-content: center;
  align-items: center;
}
.blog-subtext {
  color: white;
}
